/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  background: var(--gray-900);
  color: var(--pure-white);
  font-family: "Roboto", sans-serif;
}

:root {
  /* COLORS */
  --accent: #fd4d4d;
  --accent-hover: #fd6868;
  --accent-disabled: #fd6868;

  --pure-white: #ffffff;

  --gray-100: #dee3ea;
  --gray-200: #b2bdcd;
  --gray-300: #5d7290;
  --gray-400: #4f617a;
  --gray-500: #404f64;
  --gray-600: #323d4d;
  --gray-700: #242c37;
  --gray-800: #151a21;
  --gray-900: #0b0e11;

  /* BREAKPOINTS */
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1920px;
}

a {
  color: inherit;
  text-decoration: none;
}

.bar-of-progress {
  z-index: 50;
}
