.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem;

  border-radius: 0.5rem;

  background: var(--gray-600);
}

.popup.sm {
  width: 100vw;
  max-width: var(--breakpoint-sm);
}

.popup.md {
  width: 100vw;
  max-width: var(--breakpoint-md);
}

.popup.lg {
  width: 100vw;
  max-width: var(--breakpoint-lg);
}

.popup.xl {
  width: 100vw;
  max-width: var(--breakpoint-xl);
}
