.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.heroTextContainer {
  text-align: center;
}
.heroTextContainer h1 {
  font-size: 3rem;
}

.heroTextContainer p {
  margin: 0.3rem 0 1rem;
  opacity: 0.75;
  font-size: 1.5rem;
}

.buttonsContainer > *:first-child {
  margin-right: 5px;
}
