.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .form {
  width: 100%;
  max-width: var(--breakpoint-sm);
}

.container .form > * {
  margin-bottom: 1rem;
}

.container .form .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .callToAction {
  text-align: center;
}
