@tailwind base;

@tailwind components;

@tailwind utilities;

.btn--circular {
  @apply rounded-full h-10 w-10 mx-auto my-2 cursor-pointer;
}

.link {
  @apply text-blue-400 underline;
}

.error-message {
  @apply text-red-500;
}

.input {
  @apply w-full border-black border-2 border-solid p-1;
}

.input.input--password {
  @apply p-0;
}

.input.input--error {
  @apply border-red-500;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Chrome */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
